.cart-page{
    padding:60px 0;
}

.page-title{
    margin-bottom:40px;
}

.cart-layout{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:30px;
}

.empty-cart{
    border:2px dashed #ddd;
    border-radius:20px;
    padding:80px 20px;
    text-align:center;
}

.cart-icon{
    font-size:70px;
    margin-bottom:20px;
}

.shop-btn{
    display:inline-block;
    margin-top:20px;
    background:#111;
    color:white;
    padding:12px 25px;
    border-radius:10px;
    text-decoration:none;
}

.cart-summary{
    border:1px solid #eee;
    border-radius:15px;
    padding:25px;
    height:fit-content;
}

.summary-row{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
}

.total{
    font-weight:bold;
}

.cart-summary button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#111;
    color:white;
    margin-top:15px;
}

@media(max-width:768px){

    .cart-layout{
        grid-template-columns:1fr;
    }

}

.cart-product{
    border:1px solid #eee;
    border-radius:15px;
    padding:20px;
    margin-bottom:15px;
}

.cart-product button{
    background:red;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:8px;
}